.github/**
.vscode/**
fixtures/**
tree-sitter-kiwi/**
assets/**
ai/**
!assets/icon.png
**/*.ts
**/*.map
**/*.vsix
**/tsconfig.json
**/node_modules/**
.gitignore
eslint.config.mjs
pnpm-*.yaml
README.*.md
